.heading h1 {
    margin-bottom: 0px; 
    margin-top: 0px;
    text-align: left;
    background: tomato;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    font-size: 28pt;
    border-bottom: 5px outset #f74526;
}
body {
    
    background-image: url("pattern 2.jpg");
    font: 30px 'Raleway', sans-serif;
    margin: 0px;

    
}
.music {
    display: flex; 
    background-color: #f28563; 
    width: 1000px; 
    padding-top: 35px;
}
.musicli {
    padding-right: 100px;
}
#p.img {
    text-align: left;
}

/* links */

a:link {
    color: white
}

a:visited {
    color: white;
}
a:hover {
    background-color: #f28563;
}
a {
    text-decoration: none;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
    flex-direction: row;
}

.divpart {
    background-color: #ff6347;
    margin: 20px;
    padding: 15px;
    border: 5px outset #f74526;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicdiv {
    background-color: #f28563;


}

#h5music {
    margin-bottom: 0px;
}

